In [7]:
#No.1
number = [[1,2,3,4], [5,6,7,8],[2,4,1,7], [8,7], [9], [10]]

# a. menghitung banyaknya total bil unik
print("Banyaknya total bilangan:")
print(len(number))

print("total bilangan dalam list :")
print(len(number[0]+number[1]+number[2]+number[3]+number[4]+number[5]))

print('\n')
# b. membuat flatten list
flatten_list = sum(number,[])

print("Flatten list :")
print(flatten_list)

Banyaknya total bilangan:
6
total bilangan dalam list :
16


Flatten list :
[1, 2, 3, 4, 5, 6, 7, 8, 2, 4, 1, 7, 8, 7, 9, 10]

In [2]:
#No. 2
mahasiswa = [{"key": "basis data", "nama mahasiswa": ['irvan', 'aji', 'rabu', 'lukman']}, 
             {"key": "kalkulus", "nama mahasiswa": ['riga', 'sarah', 'irvan', 'aji']}]

# a. mengitung banyaknya unik mahasiswa
jumlah_mhs = mahasiswa[0]["nama mahasiswa"] + mahasiswa[1]["nama mahasiswa"]
print("Banyaknya mahasiswa:")
print(len(jumlah_mhs))

# b. mendapatkan nama mahasiwa yang mengikuti kedua mata kuliah tersebut
mhs1 = mahasiswa[0]["nama mahasiswa"]
mhs2 = mahasiswa[1]["nama mahasiswa"]

print("\n")
print("Nama mahasiswa:")
print(mhs1+mhs2)

Banyaknya mahasiswa:
8


Nama mahasiswa:
['irvan', 'aji', 'rabu', 'lukman', 'riga', 'sarah', 'irvan', 'aji']

In [12]:
#No. 3
bilangan = []
bil1 = int(input("Masukkan bilangan pertama = "))
bil2 = int(input("Masukkan bilangan kedua = "))
bil3 = int(input("Masukkan bilangan ketiga = "))

bilangan.append(bil1)
bilangan.append(bil2)
bilangan.append(bil3)
print(bilangan)

#urutkan bilangan
bilangan.sort()
bilangan.reverse()

print("\n")
#bilangan pertama
x = bilangan[0]
print("Bilangan pertama adalah "+ str(x))

#bilangan kedua
y = bilangan[1]
print("Bilangan kedua adalah "+ str(y))

#bilangan ketiga
z = bilangan[2]
print("Bilangan ketiga adalah " + str(z))

print("\n")
print("Bilangan terkecil dari " +str(x)+ ", " +str(y)+ " dan " +str(z)+ " adalah " + str(z))
print(bilangan)

Masukkan bilangan pertama = 200
Masukkan bilangan kedua = 254
Masukkan bilangan ketiga = 125
[200, 254, 125]


Bilangan pertama adalah 254
Bilangan kedua adalah 200
Bilangan ketiga adalah 125


Bilangan terkecil dari 254, 200 dan 125 adalah 125
[254, 200, 125]

In [ ]:
#No. 4
# dengan for
for n in range(1000, 5000):
    if n % 8 == 0:
        print(n)

In [ ]:
#dengan while
a = 1000
while a<=5000:
    if a % 8 == 0:
        print(a)
        a = a+1

In [10]:
#No.5
tahun = int(input("Input Tahun = "))

if (tahun % 4 == 0) and (tahun % 100 != 0) or (tahun %400 == 0):
    print(str(tahun) + " adalah tahun kabisat")
else:
    print(str(tahun) + " bukan tahun kabisat")

Input Tahun = 2000
2000 adalah tahun kabisat

In [11]:
#No.6
angka = int(input("Masukkan sebuah bilangan bulat = "))

if angka == 0:
    print(str(angka) + " bukan bilangan positif maupun negatif")
if angka < 0:
    if angka % 2 == 0:
        print(str(angka) + " adalah bilangan Genap Negatif")
    else:
        print(str(angka) + " adalah bilangan Ganjil Negatif")
if angka > 0:
    if angka % 2 == 0:
        print(str(angka) + " adalah bilangan Genap Positif")
    else:
        print(str(angka) + " adalah bilangan Ganjil Positif")

Masukkan sebuah bilangan bulat = 15
15 adalah bilangan Ganjil Positif